*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
.astro
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
dist
_posts/vx*
.editorconfig
